<!--
Copyright (c) 2023-present Super Practica contributors
Copyright (c) 2022 Will Faught

SPDX-License-Identifier: MIT
-->

{{ $page := . }}

{{ $content := $page.Content | replaceRE `(<h[1-6] id="([^"]+)".+)(</h[1-6]+>)` (printf `${1} <a aria-label="%v" class="paige-header-link text-decoration-none" href="#${2}">#</a>${3}` (i18n "paige_aria_section_link")) | safeHTML }}

{{ with $content }}
    <div class="overflow-x-auto" id="paige-content">{{ . }}</div>
{{ end }}
