<!--
Copyright (c) 2023-present Super Practica contributors
Copyright (c) 2022 Will Faught

SPDX-License-Identifier: MIT
-->

{{ $page := . }}

{{ $basepath := path.Clean (urls.Parse site.BaseURL).Path }}
{{ $breakpoint := $page.Param "paige.menu.breakpoint" | default "sm" }}
{{ $links := false }}
{{ $pills := false }}

{{ if eq $basepath "/" }}
    {{ $basepath = "" }}
{{ end }}

{{ $pagepath := strings.TrimPrefix $basepath $page.RelPermalink }}

{{ with $page.Param "paige.menu.style" }}
    {{ if eq . "links" }}
        {{ $links = true }}
    {{ else if eq . "pills" }}
        {{ $pills = true }}
    {{ else }}
        {{ errorf "paige/menu: invalid menu style: %q" . }}
    {{ end }}
{{ else }}
    {{ $pills = true }}
{{ end }}

{{ with site.Menus.main }}
    <nav class="justify-content-center navbar navbar-expand-{{ $breakpoint }}" id="paige-menu">
        <div class="align-items-center flex-{{ $breakpoint }}-row justify-content-center nav {{ if $pills }} nav-pills {{ end }}">
            {{ range . }}
                {{ $menupath := strings.TrimPrefix $basepath .URL }}
                {{ $home := (and (eq $menupath "/") (eq $pagepath "/")) }}
                {{ $menuprefix := (and (ne $menupath "/") (hasPrefix $pagepath $menupath)) }}
                {{ $sectionprefix := (and (ne $menupath "/") (hasPrefix $menupath (printf "/%s/" $page.Section))) }}
                {{ $active := or $home $menuprefix $sectionprefix }}

                <a {{ if $active }} aria-current="page" {{ end }} class="{{ if $active }} active {{ if $links }} link-secondary {{ end }} {{ end }} nav-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </nav>
{{ end }}
