
#paige-breadcrumbs,
#paige-reading-time,
.paige-authors,
.paige-date-header,
.paige-reading-time,
.paige-summary,
#banner-tagline {
    display: none;
}

body {
    color: #ffffe3;
    background-color: #232841;
}

#paige-content {
    max-width: 800px;
}

#banner-title {
    font-size: x-large;
    font-weight: bold;
}

.center {
    text-align: center;
}

.larger {
    font-size: larger;
}

a:link, a:visited {
    color: #caca33;
}

a:hover, a:active {
    color: #ffff67;
}

.figure-caption {
    color: #ffffe3 !important;
    padding-left: 80px;
    padding-right: 80px;
}
