
{{ $page := . }}

{{ $src := .Params.game.source }}
{{ $title := .Params.game.title }}
{{ $width := .Params.game.width }}
{{ $height := .Params.game.height }}

{{ if not $src }}
    {{ errorf "game-frame: no content" }}
{{ end }}
    
<div class="game-page d-flex flex-column mb-2">
    {{ partial "paige/metadata.html" $page }}
    <div class="game-frame d-flex mw-100 justify-content-center">
        <iframe src={{ $src }} title={{ $title }}
        width={{ $width }} height={{ $height }}>
        </iframe>
    </div>
</div>
