
<div class="align-items-center d-flex flex-column mb-0" id="title-banner">
    <div id="banner-title">
        {{ .Site.Title }}
    </div>
    <div id="banner-tagline">
        {{ .Site.Params.Tagline }}
    </div>
</div>
